<!-- <p>categories-list works!</p> -->
<div class="admin-page">
    <p-card header="Categories" subheader="List of all Categories">
        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-toolbar">
                    <div class="p-toolbar-group-left">
                        <p-button label="New" icon="pi pi-plus" routerLink="/categories-form"></p-button>

                    </div>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <p-table [value]="categories" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                        
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-category>
                        <tr>
                            <td>{{category.id}}</td>
                            <td>{{category.name}}</td>
                           
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
