.admin{
    &-wrapper{
        height:100%;
        margin:0;
        padding:0px;
    }

    &-sidebar{
        background-color:black;
        margin:0;
        padding:10px 0 0 10px;
        color:white;
        position:fixed;
        top:0;
        width:175px;
        height:100%;
        img{
            max-width:100px;
            margin-left:10px;
        }
        .logo{
            width:100%;
            // border:red solid 1px;
            // margin-top:10px;
            margin-bottom:8px;
        }
        .links{
            ul{
                // border:red solid 1px;
                li{
                    display: block;
                    list-style: none;
                    font-size: 18px;
                    font-family: monospace;
                    width:100%;
                    // margin-bottom:8px;
                    a{
                        color:white;
                        padding:10px 15px;
                        display:block;
                        width:100%;
                        i{
                            margin-right:8px;
                        }
                       
                        &:hover{
                            color:red;
                        }
                        &.logout {
                            color:blue;
                        }
                    }
                  
                }
                
            }
        }
    }
    &-main{
        width:calc(100% - 175px);
        padding-left:200px;       
    }
    &-page{
        padding:15px;
        margin-top:20px;
    }
}