nav{
    color: white;
    background-color: black; 
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
}


#text{
    font-family: Rubik;
    font-size: 16.5px;
}
#logo
{
    margin-top: 10px;
    font-family: Reborn;
    font-size: 40px;
}