
<div class="seperator">
    <p>Limited Edition Order Now!</p>
</div>
<div class="headerContainer" style="display: block;">
  <div id="div1" style="display: inline;">
        <!-- <p id="text1">Smart Collection</p> -->
        <a id = "shopNow" href = "http://localhost:4200/products">Shop Now >></a>
       <img src="assets/images/homePage/header.jpg" id="headerImg1">
    </div>

    <div class="side" style="display: inline;">
        <img src="assets/images/homePage/2.jpg">
    </div >

   
     <div class="arrivals" >
   
       <ngb-carousel *ngIf="images" class="slideShow" >
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                <img [src]="images[0]"alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h2>Best Seller</h2>
                <p>order yours now</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h2>Best Seller</h2>
                <p>order yours now</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h2>Best Seller</h2>
                <p>order yours now</p>
              </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>


<section class="section">
    <div id="h-categories">CATEGORIES</div>
    <P id="p-categories">High Quality & Trendy </P>
    <div class = "categories">
        <div class="category">
            <a id="link1" href="/home">EARBUDS</a>
            <img src="assets/images/homePage/earbuds2.jpg">

        </div>
        <div class="category">
            <a id="link2" href="/home">HEADPHONES</a>
            <img src="assets/images/homePage/headphones1.jpg">
        </div>
        <div class="category">
            <a id="link3" href="/home">ACCESSORIES</a>
            <img src="assets/images/homePage/accessories1.jpg">
        </div>
    </div>
</section>










