/* You can add global styles to this file, and also import other style files */
@import '../../../styles/beatmaker.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@font-face {
    font-family: Freshmade;
    src: url(assets/fonts/Freshmade.otf) format("truetype");
}
@font-face {
    font-family: Reborn;
    src: url(assets/fonts/Reborn.otf) format("truetype");
}

@font-face {
    font-family: Rubik;
    src: url(assets/fonts/Rubik-Regular.ttf) format("truetype");
}
body{
    background-color: black;
}