<beatmaker-header></beatmaker-header>
<ui-banner></ui-banner>
<div class="grid">
    <div class="col-4">4</div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
</div>

<div class="grid">
    <div class="col-2">2</div>
    <div class="col-6">6</div>
    <div class="col-4">4</div>
</div>
<router-outlet></router-outlet>
<beatmaker-footer></beatmaker-footer>
