<!-- <p>categories-list works!</p> -->
<div class="admin-page">
    <p-card header="Categories" subheader="List of all Categories">
        <!-- <div class="p-grid mb-5">
            <div class="p-col-12">
                <div class="p-toolbar">
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <!-- <p-button form="catForm" type="submit" (ngSubmit)="addCategory()" -->
                        <!-- label="Add Category" icon="pi pi-plus" styleClass="p-button-primary mr-2"></p-button> -->
                        <!-- <p-button label="Go Back"  styleClass="p-button-danger"></p-button>


                    </div>
                </div>
            </div>
        </div> --> -->
        <div class="p-grid">
            <div class="p-col-12">
                <form class="mt-3" [formGroup]="catForm" (ngSubmit)="addCategory()">
                    <div class="formgroup">
                        <div class="field flex-column">
                            <label for="name">Name</label>
                            <input FormControlName="name" pInputText name="name" id="name" type="text" class="inputfield px-2 py-2" placeholder="Enter new category names">
                            <div class="error-message" *ngIf="catForm.get('name')?.invalid&&catForm.get('name')?.touched">
                                <small *ngIf="catForm.get('name')?.hasError('required')">Category name is required</small>
                            </div>
                        </div>
                    </div>
                    <button type="submit"
                      class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </p-card>
</div>
